@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FDFFE2;
    font-family: "Nunito Sans", sans-serif;
}
#nav{
    display: flex;
    justify-content: center;
    padding-left: 15px;
    margin-bottom: 20px;
    
}
.navegador{
    font-family: "Nunito Sans", sans-serif;
    background-color: rgb(182, 182, 159);
    padding: 15px 215px 15px 215px;
    background-color: #5A72A0;
}
#agendamento{
    background-color: #FDFFE2;
}
.conteudo{
    width: 80%; /* Ajuste para 80% da largura da tela */
    max-width: 1200px; /* Limite máximo para a largura */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
   

}
.conteudo .calendario div{
    position: relative;
    width: 100%; /* Ajuste para 100% da largura da div pai */
    margin: 0 auto;

}
.calendario{
    text-align: center;
    width: 100%; /* Ajuste para 100% da largura da div pai */
    margin: 0 auto; /* Centraliza o calendário */
    border: 2px solid #cbd1d2; /* Adiciona a borda ao redor do calendário */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    padding: 20px; /* Adiciona espaço dentro da borda */
    background: white;

}
.calendario table{
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}
.calendario thead{
    background: white;
    font-weight: 600;
    text-transform: uppercase;
}
.calendario thead td{
    height: 69.4px;
}
.calendario td{
    border: 1px solid #cbd1d2;
    height: 100px; /* Ajuste para 100px */
    text-align: center;
    width: 100px;
}
.calendario tbody td{
    cursor: pointer;
}
.calendario tbody td:hover{
    background: rgb(0, 173, 223, 0.8);
    color: #f9f9f9;
}
.calendario table .dia-atual{
    background: #00addf;
    color: #f9f9f9;
}
.calendario .mes-anterior, .calendario .proximo-mes{
    color: #cbd1d2;
}
.calendario .mes-anterior:hover, .calendario .proximo-mes:hover{
    background: #98a0a0;
}
h2{
    margin-top: 20px;
    font-size: 32px;
    text-transform: uppercase;
}
.btn-ant,.btn-pro{
    position: absolute;
    top: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color:#cbd1d2;
    font-size: 16px;
    font-weight: bold;
}
.btn-ant{
    left: 80px;
}
.btn-pro{
    right: 80px;
}
.btn-ant:hover,.btn-pro:hover{
    background: #cbd1d2;
    color: #f9f9f9;
}

.event{
    position: relative;
}
.event:after{
    content: '';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5;
    background: #00addf;
    display: block;
    position: absolute;
    border-radius: 50%;
}
.event:hover:after{
    background: #f9f9f9;
}
